[Unit]
Description=USP Agent
After=syslog.target network.target


[Service]
ExecStartPre=/bin/sh -c 'while [ "`sysevent get current_wan_state`" != "up" ] ; do   sleep 1; done'
ExecStart=/usr/bin/obuspa -v1 --plugin /usr/libexec/usp-pa-vendor-rdk.so --resetfile /etc/usp-pa/usp_factory_reset.conf --truststore /etc/usp-pa/usp_truststore.pem --interface erouter0 --log syslog --dbfile /nvram/usp-pa.db


RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
